:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem 1rem;
  background: #f6f8ff;
}

section {
  display: block;
  max-width: 380px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 0 15px rgb(0 0 0 / 10%);
}

h2 {
  font-weight: 500;
  margin-bottom: 1.4rem;
}

.app-wrapper {
  display: grid;
  grid-gap: 3rem;
}

.add-container {
  position: relative;
  height: 250px;
  padding: 2rem 2rem 5rem 2rem;
  border-radius: 3rem 0 0 0;
}

.add-container .new-todo {
  display: block;
  width: 100%;
  padding: 0.8rem;
  font-size: 1.2rem;
  border: 1px solid #5e8df7;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}

.add-container .new-todo:focus {
  outline: 3px solid #5e8df7;
}

.add-container fieldset {
  border: none;
}

.add-container legend {
  font-size: 0;
}

.add-container .labels input {
  margin-right: 0.4rem;
}

.add-container .labels label {
  margin-right: 1.2rem;
}

.add-container .add-btn {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  border: 2px solid #505d8b;
  background: #505d8b;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
}

.add-container .add-btn:hover {
  background: #67809f;
  border: 2px solid #67809f;
}

.review-container {
  padding: 2rem;
  border-radius: 0 0 3rem 0;
}

.review-container .empty-message {
  font-weight: 300;
}

.review-container ul {
  list-style: none;
}

.review-container .todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 0.3rem;
  border: 1px solid #efefef;
  font-weight: 300;
}

.review-container li .task {
  cursor: pointer;
  margin-right: auto;
}

.review-container li.done {
  background: #e6f4f1;
}

.review-container li:hover {
  box-shadow: 0px 0 15px rgb(0 0 0 / 10%);
}

.review-container li.done .task {
  text-decoration: line-through;
}

.review-container li .label {
  font-weight: 500;
  font-size: 0.8rem;
  padding: 5px;
  background: #f7f9ff;
  border-radius: 4px;
  margin-right: 1rem;
}

.review-container li.done .label {
  opacity: 0.5;
}

.review-container .remove-btn {
  border: none;
  background: none;
}

.review-container .remove-btn:after {
  display: inline-block;
  content: '\00d7';
  font-size: 1rem;
  cursor: pointer;
}

.review-container .tags-wrapper {
  display: flex;
  margin-bottom: 1rem;
}

.review-container .tags-wrapper p {
  margin-right: 1rem;
}

.review-container .tags-wrapper span {
  font-weight: 500;
  font-size: 0.8rem;
  cursor: pointer;
}

.review-container .tags-wrapper span.active {
  padding: 5px;
  background: #5e8df7;
  color: #fff;
  border-radius: 4px;
}

.empty-container {
  padding: 1rem;
  border-radius: 0 0 3rem 0;
}

.empty-container img {
  width: 100%;
}

@media (min-width: 768px) {
  .app-wrapper {
    max-width: 1024px;
    margin: 5rem auto;
    grid-template-columns: 1fr 1fr;
  }

  .add-container {
    max-height: 250px;
  }
}


